Repository kubernetes-incubator/external-storage, pull requests merged in 2018-07, with the labels that each got.

#830 [v2] Add block volume support check to external provisioners
  iscsi/targetd/provisioner/iscsi-provisioner.go
  lib/controller/controller.go
  lib/controller/controller_test.go
  lib/controller/volume.go
  lib/util/util.go
Labels: area/lib, cncf-cla: yes, lgtm, size/L

#841 Update CEPH_VERSION to mimic
  ceph/cephfs/Dockerfile
  ceph/rbd/Dockerfile
Labels: area/ceph/cephfs, area/ceph/rbd, cncf-cla: yes, lgtm, size/XS

#835 Propagate StorageClass MountOptions to PVs created by nfs-client-provisioner
  lib/controller/controller.go
  lib/controller/volume.go
  nfs-client/cmd/nfs-client-provisioner/provisioner.go
Labels: area/lib, area/nfs-client, cncf-cla: yes, lgtm, size/M

#849 Shifted installation of helm, for local-volume/helm/test/run.sh
  Makefile
  local-volume/helm/test/run.sh
  test.sh
Labels: area/local-volume, cncf-cla: yes, lgtm, size/S

#857 Set iscsi-targetd threadiness to 1 to avoid LUN number race
  iscsi/targetd/cmd/start.go
Labels: area/iscsi/targetd, cncf-cla: yes, size/XS

#858 digitalocean: Recommend the official CSI driver and announce EOL
  digitalocean/README.md
Labels: area/digitalocean, cncf-cla: yes, lgtm, size/S

#863 Able to clean filesystem volume with job
  local-volume/provisioner/deployment/docker/scripts/common.sh
  local-volume/provisioner/deployment/docker/scripts/fsclean.sh
  local-volume/provisioner/pkg/common/common.go
  local-volume/provisioner/pkg/deleter/deleter.go
  local-volume/provisioner/pkg/deleter/jobcontroller.go
Labels: area/local-volume, cncf-cla: yes, lgtm, size/L

#861 CoreDNS support for RBD
  ceph/rbd/pkg/provision/provision.go
Labels: area/ceph/rbd, cncf-cla: yes, lgtm, size/S

#859 NFS: Skip deletion if the corresponding directory is not found
  nfs-client/cmd/nfs-client-provisioner/provisioner.go
Labels: area/nfs-client, cncf-cla: yes, lgtm, size/XS

#877 Update README in rbd and cephfs
  ceph/cephfs/README.md
  ceph/rbd/README.md
Labels: area/ceph/cephfs, area/ceph/rbd, cncf-cla: yes, lgtm, size/S

#883 Improve tag->deploy
  .travis.yml
  deploy.sh
Labels: cncf-cla: yes, lgtm, size/S

#886 Fix logger calls
  snapshot/cmd/snapshot-controller/snapshot-controller.go
  snapshot/cmd/snapshot-pv-provisioner/snapshot-pv-provisioner.go
  snapshot/pkg/cloudprovider/providers/gce/gce.go
  snapshot/pkg/controller/snapshot-controller/snapshot-controller.go
Labels: area/snapshot, cncf-cla: yes, lgtm, size/S

#888 Add more robust timeout and parallelism in provisioner to support throttling feature in heketi.
  gluster/block/cmd/glusterblock-provisioner/glusterblock-provisioner.go
Labels: area/gluster/block, cncf-cla: yes, lgtm, size/XS

#891 Initialize exponentialBackOffOnError by default.
  lib/controller/controller.go
Labels: area/lib, cncf-cla: yes, lgtm, size/XS

#894 Fix non-exponentialbackoff having 0 delay, make it 15s
  lib/controller/controller.go
Labels: area/lib, cncf-cla: yes, lgtm, size/XS

#896 flex: Add PV name to delete
  flex/pkg/volume/delete.go
Labels: area/flex, cncf-cla: yes, lgtm, size/XS
