Repository kubernetes-incubator/external-storage, pull requests merged in 2018-04, with the labels that each got.

#700 [local-volume] Use RBAC to limit permissions of provisioner node-binding to get nodes
  local-volume/helm/provisioner/templates/provisioner-cluster-role-binding.yaml
  local-volume/helm/provisioner/values.yaml
  local-volume/provisioner/deployment/kubernetes/example/default_example_provisioner_generated.yaml
Labels: area/local-volume, cncf-cla: yes, lgtm, size/S

#706 [local-volume] Fix init ordering and log config
  local-volume/provisioner/cmd/main.go
  local-volume/provisioner/pkg/common/common.go
Labels: area/local-volume, cncf-cla: yes, lgtm, size/S

#625 Update docs for Block volumeMode PVs.
  local-volume/README.md
Labels: area/local-volume, cncf-cla: yes, lgtm, size/M

#708 Update local-volume/README.md
  local-volume/README.md
Labels: area/local-volume, cncf-cla: yes, lgtm, size/XS

#707 Update gce examples with reduced node role
  local-volume/provisioner/deployment/kubernetes/gce/provisioner_generated_gce_ssd_count.yaml
  local-volume/provisioner/deployment/kubernetes/gce/provisioner_generated_gce_ssd_volumes.yaml
Labels: area/local-volume, cncf-cla: yes, lgtm, size/S

#712 fix the clound to cloud
  openstack/standalone-cinder/README.md
Labels: area/openstack/standalone-cinder, cncf-cla: yes, lgtm, size/XS

#695 Add one time controller to update local PV objects with alpha node affinity annotations to beta
  local-volume/utils/update-pv-to-beta/Makefile
  local-volume/utils/update-pv-to-beta/README.md
  local-volume/utils/update-pv-to-beta/deployment/docker/Dockerfile
  local-volume/utils/update-pv-to-beta/deployment/kubernetes/admin-account.yaml
  local-volume/utils/update-pv-to-beta/deployment/kubernetes/update-pv-to-beta.yaml
  local-volume/utils/update-pv-to-beta/update_pv_na_to_beta.go
Labels: area/local-volume, cncf-cla: yes, lgtm, size/L

#722 [local-volume] Mention that several feature-gates are required for k8s pre-1.10
  local-volume/README.md
Labels: area/local-volume, cncf-cla: yes, lgtm, size/XS

#724 Update README with link to beta API updater
  local-volume/README.md
Labels: area/local-volume, cncf-cla: yes, lgtm, size/XS

#657 Functionize blockvol create code
  gluster/block/cmd/glusterblock-provisioner/glusterblock-provisioner.go
Labels: area/gluster/block, cncf-cla: yes, size/L

#728 Set slave mount propgation in local provisioner
  local-volume/helm/provisioner/templates/provisioner.yaml
  local-volume/provisioner/deployment/kubernetes/example/default_example_provisioner_generated.yaml
Labels: area/local-volume, cncf-cla: yes, lgtm, size/XS

#673 Update cephfs client-side configurations.
  ceph/cephfs/cephfs_provisioner/cephfs_provisioner.py
Labels: cncf-cla: yes, lgtm, size/XS

#711 Jobs based block volume cleaning
  local-volume/helm/provisioner/templates/provisioner-cluster-role-binding.yaml
  local-volume/helm/provisioner/templates/provisioner.yaml
  local-volume/provisioner/cmd/main.go
  local-volume/provisioner/pkg/common/common.go
  local-volume/provisioner/pkg/controller/controller.go
  local-volume/provisioner/pkg/deleter/deleter.go
  local-volume/provisioner/pkg/deleter/deleter_test.go
  local-volume/provisioner/pkg/deleter/jobcontroller.go
  local-volume/provisioner/pkg/deleter/proctable.go
  local-volume/provisioner/pkg/discovery/discovery.go
  local-volume/provisioner/pkg/discovery/discovery_test.go
  local-volume/provisioner/pkg/util/api_util.go
  local-volume/provisioner/pkg/util/volume_util.go
  local-volume/provisioner/pkg/util/volume_util_linux.go
  local-volume/provisioner/pkg/util/volume_util_unsupported.go
Labels: cncf-cla: yes, lgtm, size/XXL

#648 Add clone support in gluster file provisioner.
  gluster/file/README.md
  gluster/file/cmd/glusterfile-provisioner/glusterfile-provisioner.go
  vendor/github.com/heketi/heketi/client/api/go-client/volume.go
  vendor/github.com/heketi/heketi/pkg/glusterfs/api/types.go
Labels: cncf-cla: yes, size/L
