Repository kubernetes-incubator/external-storage, pull requests merged in 2018-06, with the labels that each got.

#776 Local Volume Provisioner: Support Reclaim Policy
  local-volume/provisioner/deployment/kubernetes/example/default_example_storageclass.yaml
  local-volume/provisioner/pkg/common/common.go
  local-volume/provisioner/pkg/controller/controller.go
  local-volume/provisioner/pkg/deleter/deleter.go
  local-volume/provisioner/pkg/deleter/deleter_test.go
  local-volume/provisioner/pkg/deleter/jobcontroller.go
  local-volume/provisioner/pkg/discovery/discovery.go
  local-volume/provisioner/pkg/discovery/discovery_test.go
  local-volume/provisioner/pkg/populator/populator.go
Labels: area/local-volume, cncf-cla: yes, lgtm, size/L

#789 local volume provisioner: improve helm chart
  Makefile
  local-volume/helm/README.md
  local-volume/helm/examples/baremetal-cleanbyjobs.yaml
  local-volume/helm/examples/baremetal-without-rbac.yaml
  local-volume/helm/examples/baremetal.yaml
  local-volume/helm/examples/gce-pre1.9.yaml
  local-volume/helm/examples/gce-retain.yaml
  local-volume/helm/examples/gce.yaml
  local-volume/helm/examples/gke.yaml
  local-volume/helm/provisioner/templates/provisioner-cluster-role-binding.yaml
  local-volume/helm/provisioner/templates/provisioner.yaml
  local-volume/helm/provisioner/values.yaml
  local-volume/helm/test/expected/baremetal-cleanbyjobs.yaml
  local-volume/helm/test/expected/baremetal-without-rbac.yaml
  local-volume/helm/test/expected/baremetal.yaml
  local-volume/helm/test/expected/gce-pre1.9.yaml
  local-volume/helm/test/expected/gce-retain.yaml
  local-volume/helm/test/expected/gce.yaml
  local-volume/helm/test/expected/gke.yaml
  local-volume/helm/test/run.sh
  local-volume/utils/update-helm-values-pre-v2.2.0/README.md
  local-volume/utils/update-helm-values-pre-v2.2.0/main.go
  local-volume/utils/update-helm-values-pre-v2.2.0/main_test.go
  local-volume/utils/update-helm-values-pre-v2.2.0/pkg/chartutil/values.go
  test.sh
Labels: area/local-volume, cncf-cla: yes, lgtm, size/XXL

#677 Added OSX to Travis CI for external-storage
  .travis.yml
  iscsi/targetd/Dockerfile
  iscsi/targetd/Makefile
  test.sh
Labels: cncf-cla: yes, lgtm, size/M

#687 Improves the README.md for nfs-client
  nfs-client/README.md
Labels: area/nfs-client, cncf-cla: yes, lgtm, size/L

#735 Fix nil pointer dereference
  flex/pkg/volume/driver-call.go
  flex/pkg/volume/provision.go
Labels: area/flex, cncf-cla: yes, lgtm, size/S

#744 Updated link to in-tree provisioners
  README.md
Labels: cncf-cla: yes, lgtm, size/XS

#790 Remove Manila provisioner
  Makefile
  openstack-sharedfilesystems/DESIGN.md
  openstack-sharedfilesystems/Dockerfile
  openstack-sharedfilesystems/Makefile
  openstack-sharedfilesystems/OWNERS
  openstack-sharedfilesystems/cmd/manila-provisioner/main.go
  openstack-sharedfilesystems/pkg/sharedfilesystems/microversions.go
  openstack-sharedfilesystems/pkg/sharedfilesystems/sharedfilesystems.go
  openstack-sharedfilesystems/pkg/sharedfilesystems/sharedfilesystems_test.go
Labels: cncf-cla: yes, lgtm, size/XXL

#718 Make default storage class actually default
  digitalocean/manifests/sc.yaml
Labels: area/digitalocean, cncf-cla: yes, lgtm, size/XS

#734 Add manifest files to deploy and a QuickStart
  openstack/standalone-cinder/README.md
  openstack/standalone-cinder/deployment.yaml
  openstack/standalone-cinder/examples/pvc-1.yaml
  openstack/standalone-cinder/examples/storage-class.yaml
  openstack/standalone-cinder/manifests/deployment.yaml
  openstack/standalone-cinder/manifests/rbac/clusterrole.yaml
  openstack/standalone-cinder/manifests/rbac/clusterrolebinding.yaml
  openstack/standalone-cinder/manifests/rbac/role.yaml
  openstack/standalone-cinder/manifests/rbac/rolebinding.yaml
  openstack/standalone-cinder/manifests/rbac/serviceaccount.yaml
Labels: area/openstack/standalone-cinder, cncf-cla: yes, lgtm, size/L

#768 useless repeated code
  ceph/cephfs/cephfs_provisioner/cephfs_provisioner.py
Labels: area/ceph/cephfs, cncf-cla: yes, lgtm, size/XS

#753 updated flexplugin to look for 200 volumes
  digitalocean/cmd/digitalocean-flexplugin/main.go
  digitalocean/pkg/volume/provision.go
Labels: area/digitalocean, cncf-cla: yes, lgtm, size/XS

#747 [logs] Fix "operaion" typo in `controller` error log.
  lib/controller/controller.go
Labels: cncf-cla: yes, lgtm, size/XS

#740 Don't overwrite labels provided by user in snapshot object
  snapshot/pkg/controller/snapshotter/snapshotter.go
Labels: area/snapshot, cncf-cla: yes, lgtm, size/XS

#723 "Delete PV" should be belongs to provisioner
  openstack/standalone-cinder/README.md
Labels: area/openstack/standalone-cinder, cncf-cla: yes, lgtm, size/XS

#514 [glusterfs] Set permission correctly
  gluster/glusterfs/pkg/volume/provision.go
Labels: area/gluster/glusterfs, cncf-cla: yes, lgtm, size/XS

#675 clear TODO item
  ceph/cephfs/cephfs-provisioner.go
Labels: area/ceph/cephfs, cncf-cla: yes, lgtm, size/XS

#389 iscsi: Change default provisioner name of storageclass to iscsi-targetd
  iscsi/targetd/README.md
  iscsi/targetd/cmd/start.go
  iscsi/targetd/kubernetes/iscsi-provisioner-class.yaml
  iscsi/targetd/openshift/iscsi-provisioner-class.yaml
Labels: area/iscsi/targetd, cncf-cla: yes, lgtm, size/XS

#647 Use unique name for snapshot to avoid race
  snapshot/pkg/controller/cache/actual_state_of_world.go
  snapshot/pkg/controller/cache/desired_state_of_world.go
  snapshot/pkg/controller/cache/util.go
  snapshot/pkg/controller/populator/desired_state_of_world_populator.go
  snapshot/pkg/controller/snapshot-controller/snapshot-controller.go
  snapshot/pkg/controller/snapshotter/snapshotter.go
  snapshot/pkg/volume/awsebs/processor.go
  snapshot/pkg/volume/cinder/processor.go
  snapshot/pkg/volume/gcepd/processor.go
  snapshot/pkg/volume/gluster/snapshot.go
  snapshot/pkg/volume/hostpath/processor.go
Labels: area/snapshot, cncf-cla: yes, lgtm, size/M

#565 standalone-cinder: Use cinder attach and detach
  openstack/standalone-cinder/pkg/provisioner/provisioner.go
  openstack/standalone-cinder/pkg/provisioner/provisioner_test.go
  openstack/standalone-cinder/pkg/provisioner/testutils_test.go
  openstack/standalone-cinder/pkg/provisioner/vsbroker.go
  openstack/standalone-cinder/pkg/volumeservice/actions.go
Labels: area/openstack/standalone-cinder, cncf-cla: yes, lgtm, size/L

#672 Add namespace extended attributes to directory
  glide.yaml
  nfs-client/cmd/nfs-client-provisioner/provisioner.go
  vendor/github.com/pkg/xattr/.gitignore
  vendor/github.com/pkg/xattr/.travis.yml
  vendor/github.com/pkg/xattr/LICENSE
  vendor/github.com/pkg/xattr/README.md
  vendor/github.com/pkg/xattr/go.mod
  vendor/github.com/pkg/xattr/syscall_darwin.go
  vendor/github.com/pkg/xattr/syscall_freebsd.go
  vendor/github.com/pkg/xattr/xattr.go
  vendor/github.com/pkg/xattr/xattr_darwin.go
  vendor/github.com/pkg/xattr/xattr_freebsd.go
  vendor/github.com/pkg/xattr/xattr_linux.go
  vendor/github.com/pkg/xattr/xattr_test.go
Labels: area/nfs-client, cncf-cla: yes, lgtm, size/XL

#775 Snapshots: Propagate status changes to VolumeSnapshotData
  snapshot/pkg/controller/snapshotter/snapshotter.go
Labels: area/snapshot, cncf-cla: yes, lgtm, size/M

#696 [cephfs] Added storage class parameters to specify a root path within the backing cephfs and, optionally, use deterministic directory and user names
  ceph/cephfs/cephfs-provisioner.go
  ceph/cephfs/cephfs_provisioner/cephfs_provisioner.py
  ceph/cephfs/example/class.yaml
Labels: area/ceph/cephfs, cncf-cla: yes, lgtm, size/M

#802 Add -k8sx.xx suffix to image tags
  deploy.sh
Labels: cncf-cla: yes, size/XS

#805 Help to maintain cephfs provisioner.
  ceph/cephfs/OWNERS
Labels: area/ceph/cephfs, cncf-cla: yes, lgtm, size/XS

#806 Add osx support for helm installation script to fix travis OSX test
  local-volume/helm/README.md
  local-volume/helm/test/run.sh
Labels: area/local-volume, cncf-cla: yes, lgtm, size/S

#505 Flex improvements
  flex/.gitignore
  flex/README.md
  flex/cmd/flex-provisioner/main.go
  flex/deploy/docker/Dockerfile
  flex/deploy/docker/flex-provision.sh
  flex/deploy/flex-provision.sh
  flex/deploy/manifests/pod-provisioner.yaml
  flex/deploy/manifests/rbac.yaml
  flex/deploy/manifests/sc.yaml
  flex/examples/pod-provisioner.yaml
  flex/pkg/volume/provision.go
Labels: area/flex, cncf-cla: yes, lgtm, size/XL

#799 Add /dev to volume mount in helm template.
  local-volume/helm/provisioner/templates/provisioner.yaml
  local-volume/helm/test/expected/baremetal-cleanbyjobs.yaml
  local-volume/helm/test/expected/baremetal-without-rbac.yaml
  local-volume/helm/test/expected/baremetal.yaml
  local-volume/helm/test/expected/gce-pre1.9.yaml
  local-volume/helm/test/expected/gce-retain.yaml
  local-volume/helm/test/expected/gce.yaml
  local-volume/helm/test/expected/gke.yaml
Labels: area/local-volume, cncf-cla: yes, lgtm, size/M

#807 EFS should be mounted with nfs options vers=4.1
  aws/efs/cmd/efs-provisioner/efs-provisioner.go
Labels: area/aws/efs, cncf-cla: yes, lgtm, size/XS

#808 Readd 3rd version number
  deploy.sh
Labels: cncf-cla: yes, size/XS

#809 Add flex & cinder to push script
  Makefile
  deploy.sh
  flex/Makefile
  openstack/standalone-cinder/Makefile
Labels: cncf-cla: yes, size/S

#814 [standalone-cinder-provisioner] Support for HTTPS endpoints and auth url
  openstack/standalone-cinder/Dockerfile
Labels: area/openstack/standalone-cinder, cncf-cla: yes, lgtm, size/XS

#803 Don't check source PV when restoring from snapshot
  snapshot/cmd/snapshot-pv-provisioner/snapshot-pv-provisioner.go
Labels: area/snapshot, cncf-cla: yes, lgtm, size/S

#816 Revert "Add namespace extended attributes to directory"
  glide.yaml
  nfs-client/cmd/nfs-client-provisioner/provisioner.go
  vendor/github.com/pkg/xattr/.gitignore
  vendor/github.com/pkg/xattr/.travis.yml
  vendor/github.com/pkg/xattr/LICENSE
  vendor/github.com/pkg/xattr/README.md
  vendor/github.com/pkg/xattr/go.mod
  vendor/github.com/pkg/xattr/syscall_darwin.go
  vendor/github.com/pkg/xattr/syscall_freebsd.go
  vendor/github.com/pkg/xattr/xattr.go
  vendor/github.com/pkg/xattr/xattr_darwin.go
  vendor/github.com/pkg/xattr/xattr_freebsd.go
  vendor/github.com/pkg/xattr/xattr_linux.go
  vendor/github.com/pkg/xattr/xattr_test.go
Labels: area/nfs-client, cncf-cla: yes, size/XL

#818 Update flex base image
  flex/deploy/docker/Dockerfile
Labels: area/flex, cncf-cla: yes, size/XS

#820 Create a SECURITY_CONTACTS file
  SECURITY_CONTACTS
Labels: size/S

#800 Use non-zero resync period as last insurance in local volume provisioner
  local-volume/helm/README.md
  local-volume/helm/examples/baremetal-resyncperiod.yaml
  local-volume/helm/provisioner/templates/provisioner.yaml
  local-volume/helm/provisioner/values.yaml
  local-volume/helm/test/expected/baremetal-resyncperiod.yaml
  local-volume/helm/test/run.sh
  local-volume/provisioner/cmd/main.go
  local-volume/provisioner/pkg/common/common.go
  local-volume/provisioner/pkg/common/common_test.go
  local-volume/provisioner/pkg/controller/controller.go
  local-volume/provisioner/pkg/deleter/jobcontroller.go
Labels: area/local-volume, cncf-cla: yes, lgtm, size/L

#770 cephfs support capacity
  ceph/cephfs/cephfs-provisioner.go
  ceph/cephfs/cephfs_provisioner/cephfs_provisioner.py
Labels: area/ceph/cephfs, cncf-cla: yes, lgtm, size/M

#796 Add metrics server support for provision controller
  lib/controller/controller.go
  lib/controller/metrics/metrics.go
Labels: area/lib, cncf-cla: yes, lgtm, size/L

#797 Support metrics server in rbd/cephfs provisioners.
  ceph/cephfs/cephfs-provisioner.go
  ceph/rbd/cmd/rbd-provisioner/main.go
Labels: area/ceph/cephfs, area/ceph/rbd, cncf-cla: yes, size/S

#792 Added support for tolerations in local-volume provisioner daemonset helm template
  local-volume/helm/README.md
  local-volume/helm/examples/baremetal-tolerations.yaml
  local-volume/helm/provisioner/templates/provisioner.yaml
  local-volume/helm/provisioner/values.yaml
  local-volume/helm/test/expected/baremetal-tolerations.yaml
Labels: area/local-volume, cncf-cla: yes, lgtm, size/L

#825 Use rate limited work queues and up resync from 15s to 15m
  lib/controller/controller.go
  lib/controller/controller_test.go
Labels: area/lib, cncf-cla: yes, lgtm, size/XL

#832 Fix error imports using glide up
  digitalocean/cmd/digitalocean-flexplugin/main.go
  digitalocean/cmd/digitalocean-provisioner/main.go
  digitalocean/pkg/volume/provision.go
  local-volume/provisioner/pkg/common/common_test.go
  local-volume/utils/update-helm-values-pre-v2.2.0/main.go
  local-volume/utils/update-helm-values-pre-v2.2.0/main_test.go
  openebs/pkg/v1/maya_api_test.go
Labels: area/digitalocean, area/local-volume, cncf-cla: yes, lgtm, size/M

#831 Add support for resource limits/requests in Local Volume Provisioner Helm Chart
  local-volume/helm/README.md
  local-volume/helm/examples/baremetal-with-resource-limits.yaml
  local-volume/helm/provisioner/templates/provisioner.yaml
  local-volume/helm/provisioner/values.yaml
  local-volume/helm/test/expected/baremetal-with-resource-limits.yaml
Labels: area/local-volume, cncf-cla: yes, lgtm, size/L
