Repository kubernetes-incubator/external-storage, pull requests merged in 2018-03, with the labels that each got.

#634 Minor change in gluster block volume creation.
  gluster/block/cmd/glusterblock-provisioner/glusterblock-provisioner.go
Labels: cncf-cla: yes, size/XS

#639 Rename file and block provisioner pod with proper yaml extension.
  gluster/README.md
  gluster/block/deploy/glusterblk-provisioner-pod.yaml
  gluster/block/deploy/glusterblk-provisioner.pod
  gluster/file/deploy/glusterfile-provisioner-pod.yaml
  gluster/file/deploy/glusterfs-provisioner.pod
Labels: cncf-cla: yes, lgtm, size/M

#645 API version moved from alpha to v1
  nfs/deploy/kubernetes/auth/clusterrole.yaml
  nfs/deploy/kubernetes/auth/clusterrolebinding.yaml
Labels: cncf-cla: yes, lgtm, size/XS

#655 Change provisioner variable name.
  gluster/file/cmd/glusterfile-provisioner/glusterfile-provisioner.go
Labels: cncf-cla: yes, size/S

#659 Fixed flex-provisioner Makefile, so that it builds on osx.
  flex/Makefile
Labels: area/flex, cncf-cla: yes, lgtm, size/S

#660 Fixed glusterfs-simple-provisioner Makefile, so that it builds on osx.
  gluster/glusterfs/Makefile
Labels: area/gluster/glusterfs, cncf-cla: yes, lgtm, size/XS

#661 Fixed nfs-client Makefile, so that it builds on osx
  nfs-client/Makefile
Labels: area/nfs-client, cncf-cla: yes, lgtm, size/S

#662 Fixed nfs-provisioner Makefile, so that it builds and unit tests pass on osx.
  Makefile
  nfs/Makefile
  test.sh
Labels: area/nfs, cncf-cla: yes, lgtm, size/S

#615 Sanpshot: Small fix in the Dockerfiles
  snapshot/deploy/docker/controller/Dockerfile
  snapshot/deploy/docker/provisioner/Dockerfile
Labels: area/snapshot, cncf-cla: yes, lgtm, size/XS

#628 typo
  digitalocean/README.md
Labels: cncf-cla: yes, lgtm, size/XS

#620 rbd: add access to kube-dns service
  ceph/rbd/deploy/rbac/clusterrole.yaml
Labels: cncf-cla: yes, lgtm, size/XS

#642 Fix cache sync for snapshot controller
  snapshot/pkg/controller/snapshot-controller/snapshot-controller.go
Labels: area/snapshot, cncf-cla: yes, lgtm, size/S

#656 Update API version for RBAC objects
  gluster/block/deploy/clusterrole.yaml
  gluster/block/deploy/clusterrolebinding.yaml
  iscsi/targetd/kubernetes/iscsi-provisioner-d.yaml
  nfs-client/deploy/auth/clusterrole.yaml
  nfs-client/deploy/auth/clusterrolebinding.yaml
  snapshot/deploy/kubernetes/hostpath/snapshot-rbac.yaml
Labels: cncf-cla: yes, lgtm, size/S

#665 local-volume: Add namespace to serviceaccount helm template
  local-volume/helm/provisioner/templates/provisioner-service-account.yaml
Labels: area/local-volume, cncf-cla: yes, lgtm, size/XS

#669 Surface error causing "Snapshot x is malformed"
  snapshot/pkg/controller/snapshotter/snapshotter.go
Labels: cncf-cla: yes, lgtm, size/XS

#663 Fixed snapshot Makefile, so that it builds on osx.
  snapshot/Makefile
  snapshot/deploy/ca-certificates/etc/pki/ca-trust/source/ca-bundle.legacy.crt
  snapshot/deploy/ca-certificates/etc/pki/java/cacerts
  snapshot/deploy/ca-certificates/etc/ssl/certs
Labels: area/snapshot, cncf-cla: yes, lgtm, size/XS

#654 Promote NodeAffinity to beta
  local-volume/provisioner/cmd/main.go
  local-volume/provisioner/pkg/common/common.go
  local-volume/provisioner/pkg/common/common_test.go
  local-volume/provisioner/pkg/discovery/discovery.go
  local-volume/provisioner/pkg/discovery/discovery_test.go
Labels: area/local-volume, cncf-cla: yes, lgtm, size/L

#679 Add gluster file provisioner make targets.
  Makefile
Labels: cncf-cla: yes, size/S

#613 Update local volume user guide for beta
  local-volume/README.md
  local-volume/examples/manual-pv.yaml
  local-volume/provisioner/CHANGELOG.md
Labels: area/local-volume, cncf-cla: yes, lgtm, size/M

#682 Update local provisioner example versions
  local-volume/provisioner/deployment/kubernetes/example/default_example_provisioner_generated.yaml
  local-volume/provisioner/deployment/kubernetes/gce/provisioner_generated_gce_ssd_count.yaml
  local-volume/provisioner/deployment/kubernetes/gce/provisioner_generated_gce_ssd_volumes.yaml
Labels: area/local-volume, cncf-cla: yes, lgtm, size/XS

#686 Add volumemode for gluster file provisioner.
  gluster/file/cmd/glusterfile-provisioner/glusterfile-provisioner.go
Labels: cncf-cla: yes, size/S

#667 [local-volume] Added `ionice -c 3` (aka idle) to long running cleanup commands.
  local-volume/provisioner/deployment/docker/scripts/dd_zero.sh
  local-volume/provisioner/deployment/docker/scripts/quick_reset.sh
  local-volume/provisioner/deployment/docker/scripts/shred.sh
Labels: area/local-volume, cncf-cla: yes, lgtm, size/XS

#690 clean up docs to reflect only 1.10
  local-volume/CHANGELOG.md
  local-volume/README.md
  local-volume/helm/README.md
Labels: area/local-volume, cncf-cla: yes, lgtm, size/L

#524 External Dynamic Manila Provisioner
  Makefile
  openstack-sharedfilesystems/DESIGN.md
  openstack-sharedfilesystems/Dockerfile
  openstack-sharedfilesystems/Makefile
  openstack-sharedfilesystems/OWNERS
  openstack-sharedfilesystems/cmd/manila-provisioner/main.go
  openstack-sharedfilesystems/pkg/sharedfilesystems/microversions.go
  openstack-sharedfilesystems/pkg/sharedfilesystems/sharedfilesystems.go
  openstack-sharedfilesystems/pkg/sharedfilesystems/sharedfilesystems_test.go
  unittests.sh
Labels: cncf-cla: yes, lgtm, size/XXL
