Repository kubernetes-incubator/external-storage, pull requests merged in 2018-09, with the labels that each got.

#981 Remove typo in secret
  nfs/deploy/kubernetes/scc.yaml
Labels: cncf-cla: yes, lgtm, size/XS

#969 Fixing documentation to be correct for Kubernetes
  nfs-client/README.md
Labels: area/nfs-client, cncf-cla: yes, lgtm, size/XS

#983 Update URL to reflect OKD rebranding
  aws/efs/README.md
Labels: area/aws/efs, cncf-cla: yes, lgtm, size/XS

#984 kc to kubectl in sample shell
  aws/efs/README.md
  nfs/docs/deployment.md
Labels: cncf-cla: yes, lgtm, size/XS

#990 Moving selectedNode annotation to GA
  lib/controller/controller.go
Labels: area/lib, cncf-cla: yes, lgtm, size/XS

#995 Point nfs-client users to Helm and split up yamls
  nfs-client/README.md
  nfs-client/deploy/objects/README.md
  nfs-client/deploy/objects/class.yaml
  nfs-client/deploy/objects/clusterrole.yaml
  nfs-client/deploy/objects/clusterrolebinding.yaml
  nfs-client/deploy/objects/deployment-arm.yaml
  nfs-client/deploy/objects/deployment.yaml
  nfs-client/deploy/objects/role.yaml
  nfs-client/deploy/objects/rolebinding.yaml
  nfs-client/deploy/objects/serviceaccount.yaml
Labels: area/nfs-client, cncf-cla: yes, lgtm, size/L

#991 fix several format issues
  ceph/cephfs/cephfs-provisioner.go
  flex/pkg/volume/delete.go
  flex/pkg/volume/driver-call.go
  gluster/file/cmd/glusterfile-provisioner/glusterfile-provisioner.go
  lib/controller/controller.go
  local-volume/provisioner/pkg/deleter/deleter_test.go
  local-volume/provisioner/pkg/discovery/discovery.go
  openebs/openebs-provisioner.go
  snapshot/pkg/cloudprovider/providers/aws/aws.go
  snapshot/pkg/cloudprovider/providers/gce/gce.go
  snapshot/pkg/cloudprovider/providers/openstack/openstack_volumes.go
Labels: cncf-cla: yes, lgtm, size/M

#994 add storageClassName: to pvc
  ceph/cephfs/example/claim.yaml
Labels: area/ceph/cephfs, cncf-cla: yes, lgtm, size/XS

#980 [local-volume] support fs volumes on block
  local-volume/CHANGELOG.md
  local-volume/helm/README.md
  local-volume/helm/examples/baremetal-cleanbyjobs.yaml
  local-volume/helm/examples/baremetal-resyncperiod.yaml
  local-volume/helm/examples/baremetal-tolerations.yaml
  local-volume/helm/examples/baremetal-with-resource-limits.yaml
  local-volume/helm/examples/baremetal-without-rbac.yaml
  local-volume/helm/examples/baremetal.yaml
  local-volume/helm/examples/gce.yaml
  local-volume/helm/provisioner/templates/provisioner.yaml
  local-volume/helm/provisioner/values.yaml
  local-volume/helm/test/expected/baremetal-cleanbyjobs.yaml
  local-volume/helm/test/expected/baremetal-resyncperiod.yaml
  local-volume/helm/test/expected/baremetal-tolerations.yaml
  local-volume/helm/test/expected/baremetal-with-resource-limits.yaml
  local-volume/helm/test/expected/baremetal-without-rbac.yaml
  local-volume/helm/test/expected/baremetal.yaml
  local-volume/helm/test/expected/gce.yaml
  local-volume/provisioner/deployment/kubernetes/example/default_example_provisioner_generated.yaml
  local-volume/provisioner/pkg/common/common.go
  local-volume/provisioner/pkg/common/common_test.go
  local-volume/provisioner/pkg/deleter/deleter.go
  local-volume/provisioner/pkg/deleter/deleter_test.go
  local-volume/provisioner/pkg/discovery/discovery.go
  local-volume/provisioner/pkg/discovery/discovery_test.go
Labels: area/local-volume, cncf-cla: yes, kind/feature, lgtm, size/L
