Repository kubernetes-incubator/external-storage, pull requests merged in 2018-08, with the labels that each got.

#899 fixing minor README bug in ceph/rbd
  ceph/rbd/README.md
Labels: area/ceph/rbd, cncf-cla: yes, lgtm, size/XS

#900 Snapshot: Store fsType in VolumeSnapshotData for AWS
  snapshot/pkg/apis/crd/v1/types.go
  snapshot/pkg/volume/awsebs/processor.go
Labels: area/snapshot, cncf-cla: yes, lgtm, size/XS

#902 Plumbing topology information through Provision call in external PVController library.
  lib/controller/controller.go
  lib/controller/controller_test.go
  lib/controller/volume.go
Labels: cncf-cla: yes, lgtm, size/L

#905 Adds archiveOnDelete parameter to nfs-client provisioner.
  nfs-client/README.md
  nfs-client/cmd/nfs-client-provisioner/provisioner.go
  nfs-client/deploy/class.yaml
Labels: area/nfs-client, cncf-cla: yes, lgtm, size/M

#909 Add export-subnet for limit NFS clients
  nfs/cmd/nfs-provisioner/main.go
  nfs/pkg/volume/export.go
  nfs/pkg/volume/provision.go
  nfs/pkg/volume/provision_test.go
Labels: area/nfs, cncf-cla: yes, lgtm, size/M

#917 Construct pv from storageclass with mountOptions by rbd and cephfs provisioner
  ceph/cephfs/cephfs-provisioner.go
  ceph/rbd/pkg/provision/provision.go
Labels: area/ceph/cephfs, area/ceph/rbd, cncf-cla: yes, lgtm, size/XS

#911 Revamp nfs e2e tests to fork k8s instead of vendoring it and use yamls
  .travis.yml
  ceph/cephfs/deploy/rbac/clusterrolebinding.yaml
  digitalocean/manifests/rbac/clusterrolebinding.yaml
  nfs/Makefile
  nfs/deploy/kubernetes/class.yaml
  nfs/deploy/kubernetes/deployment.yaml
  nfs/deploy/kubernetes/rbac.yaml
  nfs/deploy/kubernetes/read-pod.yaml
  nfs/deploy/kubernetes/statefulset.yaml
  nfs/deploy/kubernetes/write-pod.yaml
  nfs/test/e2e/.gitignore
  nfs/test/e2e/e2e_suite_test.go
  nfs/test/e2e/e2e_test.go
  nfs/test/e2e/glide.lock
  nfs/test/e2e/glide.yaml
  nfs/test/e2e/nfs.go
  nfs/test/e2e/test.sh
  nfs/test/e2e/testing-manifests
  test.sh
Labels: area/nfs, cncf-cla: yes, size/XXL

#919 Fix local-up-cluster running check
  test.sh
Labels: area/nfs, cncf-cla: yes

#920 Fix nfs deployment.yaml
  nfs/deploy/kubernetes/deployment.yaml
Labels: area/nfs, cncf-cla: yes

#929 Fix archiveOnDelete parsing
  nfs-client/cmd/nfs-client-provisioner/provisioner.go
Labels: area/nfs-client, cncf-cla: yes, size/S

#773 CephFS Provisioner: Add option to disable namespace isolation.
  ceph/cephfs/Dockerfile
  ceph/cephfs/Dockerfile.release
  ceph/cephfs/cephfs-provisioner.go
  ceph/cephfs/cephfs_provisioner/cephfs_provisioner.py
Labels: cncf-cla: yes, lgtm, size/M

#930 Patch ganesha to skip over files when parsing mount table
  nfs/deploy/docker/Dockerfile
  nfs/deploy/docker/ignore-file-mounts.patch
Labels: area/nfs, cncf-cla: yes, lgtm, size/S

#932 Added RBAC to GlusterFS Simple Provisioner
  gluster/glusterfs/README.md
  gluster/glusterfs/deploy/deployment.yaml
  gluster/glusterfs/deploy/rbac.yaml
Labels: area/gluster/glusterfs, cncf-cla: yes, lgtm, size/M

#933 Add back openshift SCC
  aws/efs/deploy/openshift-clusterrole.yaml
  nfs/deploy/kubernetes/scc.yaml
  nfs/docs/deployment.md
Labels: area/nfs, cncf-cla: yes

#935 Fix handling of APIserver errors when saving provisioned PVs
  lib/controller/controller.go
Labels: area/lib, cncf-cla: yes, size/S

#936 Make logging consistent and slightly more verbose
  lib/controller/controller.go
Labels: area/lib, cncf-cla: yes, lgtm, size/M

#937 Revert API call removal; stale cache can lead to unnecessary Provision/Delete
  lib/controller/controller.go
Labels: area/lib, cncf-cla: yes, size/S

#939 Avoid double deletion attempts by accounting for (newish) pv protection feature
  lib/controller/controller.go
  lib/controller/controller_test.go
Labels: area/lib, cncf-cla: yes, lgtm, size/M

#947 Add option to generate local provisioner name only with node name and not uid
  local-volume/provisioner/cmd/main.go
  local-volume/provisioner/pkg/common/common.go
  local-volume/provisioner/pkg/controller/controller.go
Labels: cncf-cla: yes, lgtm, size/S

#943 Update to nfs-ganesha V2.7-rc2
  nfs/deploy/docker/Dockerfile
  nfs/deploy/docker/ignore-file-mounts.patch
Labels: area/nfs, cncf-cla: yes, size/M

#951 Update local provisioner Changelog for v2.2.0
  local-volume/CHANGELOG.md
Labels: cncf-cla: yes, lgtm, size/S

#952 Update local provisioner helm chart
  local-volume/helm/README.md
  local-volume/helm/examples/gce-pre1.9.yaml
  local-volume/helm/examples/gce-retain.yaml
  local-volume/helm/examples/gce.yaml
  local-volume/helm/examples/gke.yaml
  local-volume/helm/provisioner/templates/provisioner.yaml
  local-volume/helm/provisioner/values.yaml
  local-volume/helm/test/expected/baremetal-cleanbyjobs.yaml
  local-volume/helm/test/expected/baremetal-resyncperiod.yaml
  local-volume/helm/test/expected/baremetal-tolerations.yaml
  local-volume/helm/test/expected/baremetal-with-resource-limits.yaml
  local-volume/helm/test/expected/baremetal-without-rbac.yaml
  local-volume/helm/test/expected/baremetal.yaml
  local-volume/helm/test/expected/gce-pre1.9.yaml
  local-volume/helm/test/expected/gce-retain.yaml
  local-volume/helm/test/expected/gce.yaml
  local-volume/helm/test/expected/gke.yaml
  local-volume/provisioner/deployment/kubernetes/gce/provisioner_generated_gce_ssd_count.yaml
  local-volume/provisioner/deployment/kubernetes/gce/provisioner_generated_gce_ssd_volumes.yaml
Labels: cncf-cla: yes, lgtm, size/M

#956 Try to prevent ss Update failure
  nfs/test/e2e/nfs.go
Labels: area/nfs, cncf-cla: yes, size/XS

#938 Clarifications and minor formatting improvements
  nfs-client/README.md
Labels: cncf-cla: yes, lgtm, size/L

#922 Fixes argument passed to `SnapshotDelete` method.
  snapshot/pkg/controller/snapshotter/snapshotter.go
  snapshot/pkg/controller/snapshotter/snapshotter_test.go
Labels: area/snapshot, cncf-cla: yes, lgtm, size/S

#963 Fill in rbac.yaml with default namespace
  nfs/deploy/kubernetes/rbac.yaml
Labels: area/nfs, cncf-cla: yes, lgtm, size/XS

#962 fix rbd monitors missing
  ceph/rbd/pkg/provision/provision.go
Labels: area/ceph/rbd, cncf-cla: yes, lgtm, size/XS
