Repository kubernetes-incubator/external-storage, pull requests merged in 2018-10, with the labels that each got.

#997 gidallocator: fix warning message
  lib/gidallocator/allocator.go
Labels: area/lib, cncf-cla: yes, kind/cleanup, lgtm, size/XS

#1006 lib/controller: fix typo persistentvvolume
  lib/controller/controller.go
Labels: area/lib, cncf-cla: yes, kind/cleanup, lgtm, size/XS

#985 lib/controller: refactoring using SharedInformers
  lib/controller/controller.go
  lib/controller/controller_test.go
Labels: area/lib, cncf-cla: yes, lgtm, size/L

#1005 mountOptions support for local storage
  local-volume/provisioner/pkg/common/common.go
  local-volume/provisioner/pkg/discovery/discovery.go
  local-volume/provisioner/pkg/discovery/discovery_test.go
Labels: area/local-volume, cncf-cla: yes, kind/feature, lgtm, size/M

#1023 tests: use "go lint" from golang.org/x/lint/golint
  test.sh
  vendor/github.com/docker/go-units/circle.yml
  vendor/github.com/fsnotify/fsnotify/.travis.yml
  vendor/github.com/spf13/pflag/.travis.yml
  vendor/github.com/stretchr/objx/Taskfile.yml
Labels: approved, cncf-cla: yes, lgtm, size/S

#988 Fix typo in aws config example
  snapshot/deploy/kubernetes/aws/snapshot-rbac.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1016 Bump golang version to 1.11.1
  .travis.yml
  aws/efs/Makefile
  gluster/block/Makefile
  gluster/file/Makefile
  iscsi/targetd/Makefile
  lib/controller/controller.go
  lib/controller/controller_test.go
  nfs/pkg/volume/provision_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#996 cephfs-provisioner: Add cluster DNS resolution for Ceph monitors
  ceph/cephfs/cephfs-provisioner.go
  ceph/cephfs/deploy/rbac/clusterrole.yaml
  ceph/rbd/pkg/provision/provision.go
  lib/util/util.go
Labels: approved, area/ceph/cephfs, cncf-cla: yes, lgtm, size/L

#1027 Override mountOptions parameter with sc.mountOptions
  nfs/deploy/kubernetes/class.yaml
  nfs/docs/usage.md
  nfs/pkg/volume/provision.go
Labels: approved, area/nfs, cncf-cla: yes, lgtm

#1037 Fix typo in various files
  local-volume/provisioner/pkg/discovery/discovery.go
  local-volume/provisioner/pkg/util/volume_util_unsupported.go
  snapshot/pkg/apis/crd/v1/types.go
  snapshot/pkg/cloudprovider/providers/gce/gce.go
  snapshot/pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
  snapshot/pkg/controller/reconciler/reconciler.go
  snapshot/pkg/controller/snapshot-controller/snapshot-controller.go
  snapshot/pkg/controller/snapshotter/snapshotter.go
  snapshot/pkg/volume/cinder/processor.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1038 Update openstack_loadbalancer.go
  snapshot/pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
Labels: approved, cncf-cla: yes, lgtm, size/XS
