Repository kubernetes-incubator/external-storage, pull requests merged in 2018-05, with the labels that each got.

#748 Functionize createvolumesource in file provisioner.
  gluster/file/cmd/glusterfile-provisioner/glusterfile-provisioner.go
Labels: cncf-cla: yes, lgtm, size/M

#650 Pass in Snapshot spec to Create API
  snapshot/pkg/controller/snapshotter/snapshotter.go
  snapshot/pkg/controller/snapshotter/snapshotter_test.go
  snapshot/pkg/volume/awsebs/processor.go
  snapshot/pkg/volume/cinder/processor.go
  snapshot/pkg/volume/gcepd/processor.go
  snapshot/pkg/volume/gluster/snapshot.go
  snapshot/pkg/volume/hostpath/processor.go
  snapshot/pkg/volume/interface.go
Labels: area/snapshot, cncf-cla: yes, lgtm, size/M

#721 Expose prometheus metrics for local volume provisioner
  glide.lock
  glide.yaml
  local-volume/provisioner/README.md
  local-volume/provisioner/cmd/main.go
  local-volume/provisioner/deployment/kubernetes/example/default_example_service.yaml
  local-volume/provisioner/pkg/controller/controller.go
  local-volume/provisioner/pkg/deleter/deleter.go
  local-volume/provisioner/pkg/deleter/jobcontroller.go
  local-volume/provisioner/pkg/deleter/proctable.go
  local-volume/provisioner/pkg/discovery/discovery.go
  local-volume/provisioner/pkg/metrics/collectors/proc_table_collector.go
  local-volume/provisioner/pkg/metrics/collectors/proc_table_collector_test.go
  local-volume/provisioner/pkg/metrics/metrics.go
  local-volume/provisioner/pkg/metrics/metrics_test.go
  local-volume/provisioner/pkg/util/api_util.go
  vendor/k8s.io/kube-state-metrics/collectors/testutils/testutils.go
Labels: area/local-volume, cncf-cla: yes, lgtm, size/XL

#784 Support `common.useAlphaAPI`, `common.useJobForCleaning` in helm chart.
  local-volume/helm/provisioner/templates/provisioner.yaml
  local-volume/helm/provisioner/values.yaml
  local-volume/provisioner/README.md
Labels: area/local-volume, cncf-cla: yes, lgtm, size/S
