Repository kubernetes-incubator/external-storage, pull requests merged in 2018-02, with the labels that each got.

#595 Fix error message when a plain file is discovered.
  local-volume/provisioner/pkg/discovery/discovery.go
Labels: area/local-volume, cncf-cla: yes, lgtm, size/S

#556 ProvisionController support for SharedInformers
  lib/controller/controller.go
  lib/controller/controller_test.go
Labels: cncf-cla: yes, lgtm, size/L

#552 RBD Provisioner: Add userSecretNamespace parameter.
  ceph/rbd/README.md
  ceph/rbd/deploy/README.md
  ceph/rbd/deploy/rbac/clusterrole.yaml
  ceph/rbd/deploy/rbac/role.yaml
  ceph/rbd/deploy/rbac/rolebinding.yaml
  ceph/rbd/examples/class.yaml
  ceph/rbd/examples/secrets.yaml
  ceph/rbd/pkg/provision/provision.go
Labels: cncf-cla: yes, lgtm, size/M

#510 Add `volumeMode:Block` in glusterblock PV spec.
  gluster/block/cmd/glusterblock-provisioner/glusterblock-provisioner.go
Labels: area/gluster/block, cncf-cla: yes, lgtm, size/XS

#588 Expose `shouldProvision` to provisioners via new controller interface
  lib/controller/controller.go
  lib/controller/controller_test.go
  lib/controller/volume.go
  nfs/pkg/volume/provision.go
  nfs/pkg/volume/provision_test.go
Labels: cncf-cla: yes, lgtm, size/M

#440 [iscsi-targetd] block volume support
  iscsi/targetd/provisioner/iscsi-provisioner.go
Labels: area/iscsi/targetd, cncf-cla: yes, lgtm, size/XS

#583 Copy CA certificates to deployment containers
  snapshot/Makefile
  snapshot/deploy/ca-certificates/etc/pki/ca-trust/ca-legacy.conf
  snapshot/deploy/ca-certificates/etc/pki/ca-trust/extracted/java/cacerts
  snapshot/deploy/ca-certificates/etc/pki/ca-trust/extracted/openssl/ca-bundle.trust.crt
  snapshot/deploy/ca-certificates/etc/pki/ca-trust/extracted/pem/email-ca-bundle.pem
  snapshot/deploy/ca-certificates/etc/pki/ca-trust/extracted/pem/objsign-ca-bundle.pem
  snapshot/deploy/ca-certificates/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem
  snapshot/deploy/ca-certificates/etc/pki/ca-trust/source/ca-bundle.legacy.crt
  snapshot/deploy/ca-certificates/etc/pki/java/cacerts
  snapshot/deploy/ca-certificates/etc/ssl/certs
  snapshot/deploy/ca-certificates/usr/share/pki/ca-trust-legacy/ca-bundle.legacy.default.crt
  snapshot/deploy/ca-certificates/usr/share/pki/ca-trust-legacy/ca-bundle.legacy.disable.crt
  snapshot/deploy/ca-certificates/usr/share/pki/ca-trust-source/ca-bundle.trust.p11-kit
  snapshot/deploy/docker/controller/Dockerfile
  snapshot/deploy/docker/provisioner/Dockerfile
Labels: area/snapshot, cncf-cla: yes, lgtm, size/XXL

#600 External Gluster File ( gluster.org/glusterfile ) provisioner.
  gluster/file/CHANGELOG.md
  gluster/file/Dockerfile
  gluster/file/Makefile
  gluster/file/OWNERS
  gluster/file/README.md
  gluster/file/cmd/glusterfile-provisioner/glusterfile-provisioner.go
  gluster/file/deploy/clusterrole.yaml
  gluster/file/deploy/clusterrolebinding.yaml
  gluster/file/deploy/deployment.yaml
  gluster/file/deploy/glusterfs-provisioner.pod
  gluster/file/deploy/openshift/openshift-clusterrole.yaml
  gluster/file/deploy/openshift/template.yaml
  gluster/file/deploy/serviceaccount.yaml
  gluster/file/examples/claim.yaml
  gluster/file/examples/class.yaml
  gluster/file/examples/nginx1.yaml
  gluster/file/examples/secret.yaml
Labels: cncf-cla: yes, lgtm, size/XXL

#604 Reformat error strings.
  gluster/block/README.md
  gluster/block/cmd/glusterblock-provisioner/glusterblock-provisioner.go
  gluster/block/examples/nginx1.yaml
Labels: cncf-cla: yes, lgtm, size/L

#609 Add clusterid description to README and also fix error strings.
  gluster/file/README.md
  gluster/file/cmd/glusterfile-provisioner/glusterfile-provisioner.go
  gluster/file/examples/claim.yaml
  gluster/file/examples/class.yaml
  gluster/file/examples/nginx-pod.yaml
Labels: cncf-cla: yes, lgtm, size/L

#610 Rename example pod name and small correction in README.
  gluster/block/README.md
  gluster/block/examples/nginx-pod.yaml
Labels: cncf-cla: yes, lgtm, size/XS

#614 Update version and changelog.
  gluster/block/CHANGELOG.md
  gluster/block/cmd/glusterblock-provisioner/glusterblock-provisioner.go
Labels: cncf-cla: yes, size/S

#599 update rbac api version to v1
  aws/efs/README.md
  aws/efs/deploy/auth/clusterrole.yaml
  aws/efs/deploy/auth/clusterrolebinding.yaml
  aws/efs/deploy/class.yaml
  aws/efs/deploy/manifest.yaml
  ceph/cephfs/deploy/rbac/clusterrole.yaml
  ceph/cephfs/deploy/rbac/clusterrolebinding.yaml
  ceph/cephfs/deploy/rbac/role.yaml
  ceph/cephfs/deploy/rbac/rolebinding.yaml
  ceph/rbd/deploy/rbac/clusterrole.yaml
  ceph/rbd/deploy/rbac/clusterrolebinding.yaml
  ceph/rbd/deploy/rbac/role.yaml
  ceph/rbd/deploy/rbac/rolebinding.yaml
  digitalocean/manifests/rbac/clusterrole.yaml
  digitalocean/manifests/rbac/clusterrolebinding.yaml
  digitalocean/manifests/rbac/role.yaml
  digitalocean/manifests/rbac/rolebinding.yaml
  docs/demo/hostpath-provisioner/README.md
  docs/demo/hostpath-provisioner/class.yaml
  flex/examples/sc.yaml
  iscsi/targetd/README.md
  iscsi/targetd/ansible/roles/deploy-provisioner/templates/iscsi-provisioner-class.yaml.j2
  iscsi/targetd/kubernetes/iscsi-provisioner-class.yaml
  iscsi/targetd/openshift/iscsi-provisioner-class.yaml
  local-volume/helm/provisioner/templates/provisioner-cluster-role-binding.yaml
  local-volume/provisioner/deployment/kubernetes/admin_account.yaml
  nfs-client/deploy/class.yaml
  nfs/deploy/kubernetes/class.yaml
  nfs/docs/demo/class.yaml
  snapshot/deploy/kubernetes/aws/snapshot-rbac.yaml
  snapshot/deploy/kubernetes/hostpath/snapshot-rbac.yaml
  snapshot/doc/user-guide.md
  snapshot/test/hostpath_files/hostpath-class.yaml
Labels: approve, cncf-cla: yes, lgtm, size/M

#624 Update deploy.sh
  deploy.sh
Labels: cncf-cla: yes, lgtm, size/XS

#605 Enable block discovery in Local PV provisioner
  local-volume/helm/provisioner/templates/provisioner.yaml
  local-volume/helm/provisioner/values.yaml
  local-volume/provisioner/pkg/common/common.go
  local-volume/provisioner/pkg/controller/controller.go
  local-volume/provisioner/pkg/deleter/deleter.go
  local-volume/provisioner/pkg/deleter/deleter_test.go
  local-volume/provisioner/pkg/discovery/discovery.go
  local-volume/provisioner/pkg/discovery/discovery_test.go
Labels: area/local-volume, cncf-cla: yes, lgtm, size/L

#611 Add custom volume name support for Gluster Block Volumes.
  gluster/block/README.md
  gluster/block/cmd/glusterblock-provisioner/glusterblock-provisioner.go
  gluster/block/examples/glusterblock-mode/class.yaml
  gluster/block/examples/heketi-mode/class.yaml
Labels: cncf-cla: yes, lgtm, size/M
